.containers {
    display: grid;
    grid-template-rows: 150px;
    gap: 5px;
    margin-right: 20%;
    margin-left: 20%;
}

.community {
    background-color: rgba(108, 180, 185, 0.932);
    font-family: lucida;
    font-size: larger;
    color: #f7f7da;
}

.community button {
    transition-duration: 0.4s;
    border-radius: 10px;
    background-color: rgb(240, 169, 15);
    color: #f7f7da;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 5px solid rgb(240, 169, 15);
    box-sizing: border-box;
}

.community button:hover {
    background-color: teal;
    color: #f7f7da;
}



.containers h1 {
    font-family: lucida;
    font-size: larger;
    color: #f7f7da;
    text-align: center;
}

.create {
    border-radius: 25px;
    border: 2px teal;
    display: block;
    font-family: lucida;
    font-size: larger;
    color: #f7f7da;
    float: center;
    text-align: center;
    background-color: rgba(108, 180, 185, 0.932);
    margin-left: 30%;
    margin-right: 30%;
    border: 15px solid rgb(240, 169, 15);
    box-sizing: border-box;
}

.create button {
    transition-duration: 0.4s;
    border-radius: 10px;
    background-color: rgba(245, 175, 26, 0.945);
    color: #f7f7da;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 5px solid rgb(240, 169, 15);
    box-sizing: border-box;
}

.create_button {
    transition-duration: 0.4s;
    border-radius: 10px;
    background-color: rgba(245, 175, 26, 0.945);
    color: #f7f7da;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 5px solid rgb(240, 169, 15);
    box-sizing: border-box;
}

.create_button:hover {
    background-color: teal;
    color: #f7f7da;
}

.create button:hover {
    background-color: teal;
    color: #f7f7da;
}

.divide {
    width: 40%
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header';
    gap: 10px;
    background-color: rgba(108, 180, 185, 0.932);
    background-color: rgba(108, 180, 185, 0.932);
    font-family: lucida;
    font-size: larger;
    color: #f7f7da;
    overflow: hidden;
    border-radius: 5px;
    padding: 5px;
}

.tagline {
    text-align: left;
    background-color: #f7f7da;
    color: teal;
    padding: 5px;
    gap: 5px;
    display: grid;
    grid-template-rows: 75px;
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 10%;

}

.visit_community {
    transition-duration: 0.4s;
    border-radius: 10px;
    background-color: rgba(245, 175, 26, 0.945);
    color: #f7f7da;
    font-weight: bold;
    padding: 10px;
    text-align: right;
    text-decoration: none;
    float: right;
    display: inline;
    font-size: 16px;
    border: 5px solid rgb(240, 169, 15);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;

}

.visit_community:hover {
    background-color: teal;
    color: #f7f7da;
}