body {
    background-color: #f7f7da;
}

h2 {
    color: teal;
    font-family: lucida;
    text-align: center;
}

.logout_button button {
    transition-duration: 0.4s;
    border-radius: 10px;
    background-color: rgba(245, 175, 26, 0.945);
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 5px solid rgb(240, 169, 15);
    box-sizing: border-box;
}

.logout_button button:hover {
    background-color: teal;
    color: #f7f7da;
}

.logout_button a {
    color: #f7f7da;
    font-weight: bold;
    font-family: lucida;
}

.nav {
    float: right;
}

.navbar {
    background-color: teal;
    overflow: hidden;
}

.navbar img {
    float: left;
    display: block;
    width: 60px;
    height: 60px;
    margin-left: left;
}

.navbar a {
    float: left;
    display: block;
    font-family: lucida;
    font-size: larger;
    color: #f7f7da;
    text-align: center;
    padding: 2px 8px;
    font-size: 17px;
}
