.aboutUsPics {
    width: 300px;
    height: 300px;
    border: 15px solid rgb(240, 169, 15);
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #f7f7da;
}

.logout_button button {
    transition-duration: 0.4s;
    border-radius: 10px;
    background-color: rgba(245, 175, 26, 0.945);
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 5px solid rgb(240, 169, 15);
    box-sizing: border-box;
}

.logout_button button:hover {
    background-color: teal;
    color: #f7f7da;
}

.logout_button a {
    color: #f7f7da;
    font-weight: bold;
    font-family: lucida;
}

.center {
    text-align: center;
    color: teal;
}

.centered-div {
    border: 20px;
}

.login {
    border-radius: 25px;
    border: 2px teal;
    display: block;
    font-family: lucida;
    font-size: larger;
    color: #f7f7da;
    float: center;
    text-align: center;
    background-color: rgba(108, 180, 185, 0.932);
    margin-left: 30%;
    margin-right: 30%;
    border: 20px solid rgb(240, 169, 15);
    box-sizing: border-box;
}

.login_button button {
    transition-duration: 0.4s;
    border-radius: 10px;
    background-color: rgba(245, 175, 26, 0.945);
    color: #f7f7da;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 5px solid rgb(240, 169, 15);
    box-sizing: border-box;
}

.login_button button:hover {
    background-color: teal;
    color: #f7f7da;
}

.google img {
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: left;
}

.fb img {
    float: left;
    display: block;
    width: 40px;
    height: 30px;
    margin-left: left;
}

.comm {
    color: teal;
    font-family: lucida;
    text-align: center;
}

.community {
    display: block;
    background-color: rgba(108, 180, 185, 0.932);
    margin-right: 15%;
    margin-left: 15%;
    font-family: lucida;
    font-size: larger;
    color: #f7f7da;
}

.community button {
    background-color: rgb(240, 169, 15);
    border: none;
    color: #f7f7da;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 65px;
}

.create {
    border-radius: 25px;
    border: 2px teal;
    display: block;
    font-family: lucida;
    font-size: larger;
    color: #f7f7da;
    float: center;
    text-align: center;
    background-color: rgba(108, 180, 185, 0.932);
    margin-left: 30%;
    margin-right: 30%;
    border: 15px solid rgb(240, 169, 15);
    box-sizing: border-box;
}

.create button {
    transition-duration: 0.4s;
    border-radius: 10px;
    background-color: rgba(245, 175, 26, 0.945);
    color: #f7f7da;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 5px solid rgb(240, 169, 15);
    box-sizing: border-box;
}

.create_button {
    transition-duration: 0.4s;
    border-radius: 10px;
    background-color: rgba(245, 175, 26, 0.945);
    color: #f7f7da;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 5px solid rgb(240, 169, 15);
    box-sizing: border-box;
}

.create_button:hover {
    background-color: teal;
    color: #f7f7da;
}

.create button:hover {
    background-color: teal;
    color: #f7f7da;
}

.comm {
    color: teal;
    font-family: lucida;
    text-align: center;
}

h2 {
    color: teal;
    font-family: lucida;
    text-align: center;
}

.nav {
    float: right;
}

.navbar {
    background-color: teal;
    overflow: hidden;
}

.navbar img {
    float: left;
    display: block;
    width: 60px;
    height: 60px;
    margin-left: left;
}

.navbar a {
    float: left;
    display: block;
    font-family: lucida;
    font-size: larger;
    color: #f7f7da;
    text-align: center;
    padding: 2px 8px;
    font-size: 17px;
}

.snippet {
    border-radius: 25px;
    border: 2px teal;
    display: block;
    font-family: lucida;
    font-size: larger;
    color: #f7f7da;
    float: center;
    text-align: center;
    background-color: rgba(108, 180, 185, 0.932);
    margin-left: 10%;
    margin-right: 10%;
    border: 20px solid rgb(240, 169, 15);
    box-sizing: border-box;
}

.snippet p {
    font-size: larger;
    display: block;
    float: center;
}

.containers {
    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr;
    gap: 20px
}

.community {
    display: block;
    background-color: rgba(108, 180, 185, 0.932);
    margin-right: 15%;
    margin-left: 15%;
    font-family: lucida;
    font-size: larger;
    color: #f7f7da;
}

.community button {
    transition-duration: 0.4s;
    border-radius: 10px;
    background-color: rgb(240, 169, 15);
    color: #f7f7da;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 5px solid rgb(240, 169, 15);
    box-sizing: border-box;
}

.community button:hover {
    background-color: teal;
    color: #f7f7da;
}

.description {
    text-align: left;
    display: block;
    background-color: #f7f7da;
    color: teal;
    margin-right: 5%;
    margin-left: 5%;
    padding: 2%;
}

.containers h1 {
    font-family: lucida;
    font-size: larger;
    color: #f7f7da;
    text-align: center;
}

.index_comm {
    border-radius: 25px;
    font-family: lucida;
    color: #f7f7da;
    text-align: center;
    background-color: rgba(108, 180, 185, 0.932);
    border: 15px solid rgb(240, 169, 15);
    box-sizing: border-box;
}

.index_comm a {
    font-size: larger;
}

.visit_community {
    transition-duration: 0.4s;
    border-radius: 10px;
    background-color: rgba(245, 175, 26, 0.945);
    color: #f7f7da;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 5px solid rgb(240, 169, 15);
    box-sizing: border-box;
}

.visit_community:hover {
    background-color: teal;
    color: #f7f7da;
}

.mission {
    border: 2px teal;
    border-radius: 25px;
    display: block;
    font-family: lucida;
    font-size: larger;
    color: #f7f7da;
    float: center;
    text-align: center;
    background-color: rgba(108, 180, 185, 0.932);
    margin-left: 10%;
    margin-right: 10%;
    border: 20px solid rgb(240, 169, 15);
    box-sizing: border-box;
}

.visit_community {
    transition-duration: 0.4s;
    border-radius: 10px;
    background-color: rgba(245, 175, 26, 0.945);
    color: #f7f7da;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 5px solid rgb(240, 169, 15);
    box-sizing: border-box;
}

.visit_community:hover {
    background-color: teal;
    color: #f7f7da;
}

.mission {
    border: 2px teal;
    border-radius: 25px;
    display: block;
    font-family: lucida;
    font-size: larger;
    color: #f7f7da;
    float: center;
    text-align: center;
    background-color: rgba(108, 180, 185, 0.932);
    margin-left: 10%;
    margin-right: 10%;
    border: 20px solid rgb(240, 169, 15);
    box-sizing: border-box;
}

.join {
    border-radius: 25px;
    font-family: lucida;
    font-size: larger;
    float: center;
    text-align: center;
    color: #f7f7da;
    background-color: rgba(108, 180, 185, 0.932);
    border: 3px solid rgb(240, 169, 15);
    box-sizing: border-box;
}

.join:hover {
    background-color: #f7f7da;
    color: teal;
    border: 3px solid teal;
}

.comm_name {
    border-radius: 0;
    border: 2px teal;
    display: block;
    font-family: lucida;
    font-size: larger;
    color: #f7f7da;
    float: center;
    text-align: center;
    background-color: rgba(108, 180, 185, 0.932);
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgb(240, 169, 15);
    box-sizing: border-box;
}

.comm_des {
    border-radius: 0;
    border: 2px teal;
    display: block;
    font-family: lucida;
    font-size: larger;
    color: #f7f7da;
    float: center;
    text-align: center;
    background-color: rgba(108, 180, 185, 0.932);
    margin-left: 15%;
    margin-right: 15%;
    border: 5px solid rgb(240, 169, 15);
    box-sizing: border-box;
}

.tagline {
    width: 50%;
}