<html>

<head>
    <link rel="stylesheet" href="style.css">
    <title>About Us</title>
</head>

<body>

    <div class="centered-div">
        <!--Div that contains the other divs :P-->
        <div>
            <!--For each person-->
            <!--Needs an Image-->
            <h3>Malia Absi</h3>
            <p>Bio</p>
        </div>
        <div>
            <!--For each person-->
            <!--Needs an Image-->
            <h3>Ryan Garland</h3>
            <p>Bio</p>
        </div>
        <div>
            <!--For each person-->
            <!--Needs an Image-->
            <h3>Michael Fralish</h3>
            <p>Bio</p>
        </div>
        <div>
            <!--For each person-->
            <!--Needs an Image-->
            <h3>Omotayo Rufai</h3>
            <p>Bio</p>
        </div>

    </div>
</body>

</html>