<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/comm_styles.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="/static/logo.jpeg">
</head>

<body>

    <body>
        <nav>
            <div class="navbar">
                <img src="static/logo.jpeg" alt="logo" class="logo">
                <a href="/">Home</a>
                <a href="communities">Communities</a>
                <a href="about">About Us</a>
                <div class="dropdown">
                    <button class="dropbtn">Account</button>
                    <div class="dropdown-content">
                        <div class="logout_button">
                            {% if authenticated %}
                            <a href="handle_logout"> Logout </a>
                            {% else %}
                            <a href="login">Login </a>
                            {% endif %}
                            <a href="profile">Your Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <br><br>

        <div class="create">
            <br><br>
            {% if authenticated %}
            <div class="create_community">
                <h2>Create New Community: </h2>
                <form method="POST" action="/new_community_handler">
                    Community Name: <br>
                    <input type="text" name="community_name" placeholder="Enter community name">
                    <br>
                    Tagline: <br>
                    <textarea name="tagline" placeholder="Enter tagline" rows="2" cols="20"></textarea>
                    <br>
                    Description: <br>
                    <textarea name="description" placeholder="Enter description" rows="4" cols="30"></textarea>
                    <br>
                    Donation Link:
                    <br>
                    <textarea name="donation_link" placeholder="Optional" rows="1" cols="30"></textarea>
                    <br><br>
                    <input class="create_button" type="submit" value="Create">
                    <br>
                </form>
            </div>
            {% else %}
            <div class="cannot_create">
                <h1>Create New Community</h1>
                <a href="login">
                    <button>Sign In!</button>
                    <br><br>
                </a>
            </div>
            {% endif %}
        </div>
        <hr class="divide">
        <h2>Active Communities:</h2>
        {% for i in range(communities | length) %}
        <div class="tagline">
            <div class="grid-container">
                <div>
                    <b> {{communities[i].community_name}}</b><br>
                    <em>{{communities[i].tagline}}</em>
                </div>
                <form method="POST" action="/community">
                    <input type="hidden" name="Community_id" value={{communities[i].id}}>
                    <input class="visit_community" type="submit" value="Visit!">
                </form>
            </div>
        </div>
        {% endfor %}


    </body>

</html>