<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/index_style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="/static/logo.jpeg">
</head>

<body>
    <nav>
        <div class="navbar">
            <img src="static/logo.jpeg" alt="logo" class="logo">
            <a href="/">Home</a>
            <a href="communities">Communities</a>
            <div class="dropdown">
                <button class="dropbtn">More</button>
                <div class="dropdown-content">
                    <div class="logout_button">
                        {% if authenticated %}
                        <a href="handle_logout"> Logout </a>
                        {% else %}
                        <a href="login">Login</a>
                        {% endif %}
                        <a href="login">Your Profile</a>
                        <a href="about">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <br>
    <div class="snippet">
        <br><br>
        <h1>Welcome to Omnino</h1>
        <br>
        <p>Activism is important to ensure that our world develops into a place that we all want to live in. We
            wanted
            to create a space where individuals can participate in this important act in whatever capacity they
            wish, by
            making a monetary donation, or by setting up and organizing a march through the streets to create
            awareness
            or demand change.</p>
        <br><br>
    </div>
    <br><br>
    <h2>Explore Our Communities</h2>
    <br><br>

    <div class="container">
        {% for i in range(3) %}
        <div class="index_comm">
            <br><br>
            <h3>{{display_names[i]}} </h3>
            <form method="POST" action="/community">
                <input type="hidden" name="Community_id" value={{display_ids[i]}}>
                <input class="visit_community" type="submit" value="Visit!">
            </form>
            <br>
        </div>
        {% endfor %}
    </div>
</body>


</html>