<html>

<head>
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
</head>

<body>
    <table class="nav-bar">
        <tr>
            <th>Logo (add)</th>
            <th>Communities</th>
            <th>Login</th>
            <th>About Us</th>
        </tr>
    </table>

    <div class="centered-div">
        <form>
            Username: <br>
            <input type="text">
            <br>
            Password:<br>
            <input type="password">
            <br>
            <input type="submit" class="submit">
        </form>
        <p>Don't have an account? <a href="sign-up.html"><i>Sign up!</i></a></p>
    </div>
</body>

</html>