<html>

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <table class="nav-bar">
        <tr>
            <th>Logo (add)</th>
            <th>Communities</th>
            <th>Login</th>
            <th>About Us</th>
        </tr>
    </table>

    <div class="centered-div">
        <div class="google_button">
            <a href={{GOOGLE_OAUTH_URL}}><button>Login with Google</button></a>
        </div>
        <div class="fbook_button">
            <a href={{FBOOK_OAUTH_URL}}><button>Login with Facebook</button></a>
        </div>
    </div>
</body>

</html>