<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/login_styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="static/logo.jpeg" />
</head>

<body>
    <nav>
        <div class="navbar">
            <img src="static/logo.jpeg" alt="logo" class="logo">
            <a href="/">Home</a>
            <a href="communities">Communities</a>
            <a href="about">About Us</a>
            <div class="dropdown">
                <button class="dropbtn">Account</button>
                <div class="dropdown-content">
                    <div class="logout_button">
                        {% if authenticated %}
                        <a href="handle_logout"> Logout </a>
                        {% else %}
                        <a href="login">Login </a>
                        {% endif %}
                        <a href="profile">Your Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <br><br>
    <div class="login">
        <br>
        <h1>Login:</h1>
        <br>
        <div class="login_button">
            <div class="google">
                <a href={{GOOGLE_OAUTH_URL}}><button><img src="/static/google.jpeg" /> Login with Google</button></a>
            </div>
            <!-- <div class="fb">
                <a href={{FBOOK_OAUTH_URL}}><button><img src="/static/fb_logo.png" /> Login with Facebook</button></a>
            </div> -->
            <p>OR</p>
            <div>
                <form action="/login" method="POST">
                    <h3>Login with email:</h3>
                    <div class="input-icons">
                        <i class="fa fa-envelope icon">
                            <input type="email" name="email" placeholder="your@email.com" />
                            <br><br>
                            <input type="submit" value="Email Me" />
                        </i>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>