<html>

<head>
    <link rel="text/stylesheet" href="static/style.css">
</head>

<body>
    <table class="nav-bar">
        <tr>
            <th>Logo (add)</th>
            <th>Communities</th>
            <th>Login</th>
            <th>About Us</th>
        </tr>
    </table>

    <div class="centered-div">
        <form>
            Email: <br>
            <input type="text">
            <br>
            Desired Username: <br>
            <input type="text">
            <br>
            First Name: <br>
            <input type="text">
            <br>
            Last name: <br>
            <input type="text">
            <br>
            Password:<br>
            <input type="password">
            <br>
            <input type="submit" class="submit">
        </form>
        <p>Already have an account? <a href="login.html"><i>Log in!</i></a></p>
    </div>
</body>

</html>