<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/profile_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="/static/logo.jpeg">
</head>

<body>
    <nav>
        <div class="navbar">
            <img src="static/logo.jpeg" alt="logo" class="logo">
            <a href="/">Home</a>
            <a href="communities">Communities</a>
            <a href="about">About Us</a>
            <div class="dropdown">
                <button class="dropbtn">Account</button>
                <div class="dropdown-content">
                    <div class="logout_button">
                        {% if authenticated %}
                        <a href="handle_logout"> Logout </a>
                        {% else %}
                        <a href="login">Login </a>
                        {% endif %}
                        <a href="profile">Your Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <br>
    <div class="input-icons">
        <br>
        <h1>Your Profile</h1>
        <br>
        <h4>Name: <i class="fa fa-user icon"></i>
            <input class="input-field" type="text" value={{name}} readonly>
            <br><br>
            Email: <i class="fa fa-envelope icon"></i>
            <input class="input-field" type="text" value={{email}} readonly>
            <br><br>
        </h4>
    </div>
    <br>
    <hr>
    <fieldset class="container">
        <legend>Your Communities: {{my_comms | length}}</legend>
        {% for i in range(my_comms | length) %}
        <div class="my_comm">
            <br><br>
            <b> {{my_comms[i].community_name}}</b><br>
            <em>{{my_comms[i].tagline}}</em>
            <form method="POST" action="/community">
                <input type="hidden" name="Community_id" value={{my_comms[i].id}}>
                <input class="visit_community" type="submit" value="Visit!">
            </form>
            <br>
        </div>
        {% endfor %}
        <hr>
        <br>
        <legend>Your Events: {{my_events | length}}</legend>
        {% for i in range(my_events | length) %}
        <div class="my_event">
            <br><br>
            <b> {{my_events[i].community_name}}</b><br>
            <em>{{my_events[i].tagline}}</em>
            <form method="POST" action="/community">
                <input type="hidden" name="Community_id" value={{my_events[i].id}}>
                <input class="visit_community" type="submit" value="Visit!">
            </form>
            <br>
        </div>
        {% endfor %}
    </fieldset>
    <hr>
    <fieldset class="container_two"><br>
        <legend>Following: {{num_followed}}</legend>
        {% for i in range(followed_comms | length) %}
        <div class="following">
            <br><br>
            <b> {{followed_comms[i].community_name}}</b><br>
            <em>{{followed_comms[i].tagline}}</em>
            <form method="POST" action="/community">
                <input type="hidden" name="Community_id" value={{followed_comms[i].id}}>
                <input class="visit_community" type="submit" value="Visit!">
            </form>
            <br>
        </div>
        {% endfor %}
        <hr>
        <br>
        <legend>Events Attending: {{num_attending}}</legend>
        {% for i in range(atttending_events | length) %}
        <div class="attending">
            <br><br>
            <b> {{attending_events[i].community_name}}</b><br>
            <em>{{attending_events[i].tagline}}</em>
            <form method="POST" action="/community">
                <input type="hidden" name="Community_id" value={{attending_events[i].id}}>
                <input class="visit_community" type="submit" value="Visit!">
            </form>
            <br>
        </div>
        {% endfor %}
    </fieldset>
    <hr>
</body>

</html>