<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/visit_style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="/static/logo.jpeg">
</head>

<body>
    <nav>
        <div class="navbar">
            <img src="static/logo.jpeg" alt="logo" class="logo">
            <a href="/">Home</a>
            <a href="communities">Communities</a>
            <a href="about">About Us</a>
            <div class="dropdown">
                <button class="dropbtn">Account</button>
                <div class="dropdown-content">
                    <div class="logout_button">
                        {% if authenticated %}
                        <a href="handle_logout"> Logout </a>
                        {% else %}
                        <a href="login">Login </a>
                        {% endif %}
                        <a href="profile">Your Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <br><br> <br>
    <div class="center">
        <h1>{{ community.community_name }}</h1>
    </div>
    <h5 class="center">Started by {{creator}}</h5>
    <br>
    <h6 class="center"><em>{{community.tagline}}</em></h6>
    <br>
    <div class=" center">
        <button class="join" type="button" onclick="alert('Join funcunality coming soon.')">
            Join This Community!
        </button>
    </div>
    <hr class="tagline">
    <p class="center">{{community.description}}</p>
    <hr class="tagline">
    <br>
    <h3 class="center">Events:</h3>
    <br>
    <p class="center">
        <em>Events coming soon...</em>
    </p>
    <br>
    <h3 class="center">Active Members:</h3>
    <br>
    <p class="center">
        <em>Active Members coming soon...</em>
    </p>
    <br>
</body>

</html>