<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/visit_style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="/static/logo.jpeg">
</head>

<body>
    <nav>
        <div class="navbar">
            <img src="static/logo.jpeg" alt="logo" class="logo">
            <a href="/">Home</a>
            <a href="communities">Communities</a>
            <a href="about">About Us</a>
            <div class="dropdown">
                <button class="dropbtn">Account</button>
                <div class="dropdown-content">
                    <div class="logout_button">
                        {% if authenticated %}
                        <a href="handle_logout"> Logout </a>
                        {% else %}
                        <a href="login">Login </a>
                        {% endif %}
                        <a href="profile">Your Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <br><br> <br>
    <div class="center">
        <h1>{{ community.community_name }}</h1>
    </div>
    <h5 class="center">Started by {{creator}}</h5>
    <br>
    <h6 class="center"><em>{{community.tagline}}</em></h6>
    <br>
    <div class=" center">

        {% if current_user.id == community.creator_user_id %}
        <form method="POST" action="/edit_community_handler">
            <input type="hidden" name="status" value="edit">
            <input class="join" type="submit" value="Edit this Community">
        </form>
        <form method="POST" action="/edit_community_handler">
            <input type="hidden" name="Community_id" value={{community.id}}>
            <input type="hidden" name="status" value="delete">
            <input class="join" type="submit" value="Delete this Community">
        </form>
        {% else %}
        <form method="POST" action="/follow">
            <input type="hidden" name="comm_id" value={{community.id}}>
            <input type="hidden" name="return" value="communities">

            {% if following %}
            <input class="join" type="submit" value="Unfollow this Community">
            {% else %}
            <input class="join" type="submit" value="Follow this Community">
            {% endif %}
        </form>

        {% endif %}
    </div>
    <hr class="tagline">
    <div class="description">
        <p class="center">{{community.description}}</p>
    </div>
    <hr class="tagline">

    {% if following %}
    <h3 class="center">Events:</h3>
    <br>
    <h5 class="center">Create an Event:</h3>
        <p class="center">
        <form method="POST" class="center" action="/new_event_handler">
            Event Name:<br>
            <input type="text" name="event_name"><br>
            Objective:<br>
            <input type="text" name="tagline"><br>
            Description: <br>
            <input type="text" name="decription"><br>
            Event Date <br>
            <input type="date" name="date"><br>
            Event Time: <br>
            <input type="time" name="time"><br>
            <input type="hidden" name="community_id" value={{community.id}}>
            <br>
            <input type="submit" value="Create Event">
        </form>
        </p>

        {% for i in range(events.name | length) %}
        <b> {{events.name[i]}}</b><br>
        <b> {{events.name}}</b><br>
        {% endfor %}
        <br>
        <hr class="tagline">
        {% endif %}
        <h4 class="center">Active Members:</h4>
        <br>
        <br>
</body>

</html>